:root {
    --background-color: #202024;
    --page-background-color: #202024;
    --header-background-color: #111111;
    --logo-text-color: #000000;
    --font-color-dark: #ffffff;
    --header-border-color: #F6F6F6;
    --font-color-selected: #EAC645;
    --categories-font-color: rgba(255, 255, 255, 0.6);
    --pop-up-bg-color: #202024;
    --categories-scroll-color: rgba(17, 17, 17, 0.6);
    --theme-switcher-bg: linear-gradient(180deg, rgba(79,46,232,1) 0%, rgba(102,98,117,1) 91%, rgba(104,104,104,1) 100%);
    --amazon-dark-color: brightness(0) invert(1);
    --header-logo-text-color: #f3f3f3;
}
