<button type="submit" class="sign-up-modal-button">Sign up</button>

<button type="button" class="sign-up-modal-close-btn">
  <svg class="sign-up-modal-close-btn-icon">
    <use href="./src/images/sprite.svg#icon-modal-close-btn-black"></use>
  </svg>
</button>
<!-- mob-menu -->
<a class="back-to-home-button" href="./Index.html">Home</a>

<button class="back-to-shoping-list-btn">
  <a href="./" class="back-to-shoping-list-link">
    SHOPPING LIST
    <svg class="back-to-shoping-list-btn-icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-modal-lock-white"></use>
    </svg>
  </a>
</button>
