<header>
    <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo"
                ><svg class="logo-header" width="24" height="24">
                  <use href="#"></use>
                </svg><svg class="logo-Bookshelf" width="77" height="13">
                  <use href="#"></use>
                </svg></a>
      <ul class="site-nav-header header-list">
        <button class="header-item">
          <a href="./index.html" class="header-nav-link">Home</a>
        </button>
        <button class="header-item">
          <a href="" class="header-nav-link"
            >Shopping list?<img class="logo-head-icon" src="#" alt="lock" width="20" height="20"></a
            ></a>
        </button>
      </ul>
    </nav>
    <div class="header-cont-pre">
      <ul class="header-soc-list header-list">
        <button class="header-soc-title">
          <a class="header-soc-link header-link" href="" >
            <svg class="switcher-header" width="24" height="16">
              <use href="#"></use>
            </svg>
          </a>
        </button>
        <button class="header-soc-title">
          <a class="header-soc-link header-link" href=""
            ><svg class="icon-user-header" width="24" height="24">
              <use href="#"></use>
            </svg>Stephen<svg class="icon-caret-header" width="23" height="26">
              <use href="#"></use>
            </svg>
          </a>
        </button>
      </ul>
    </div>
    <button type="button" class="header-burger header-open-modal" data-menu-open>
      <svg width="28" height="28">
        <use href="#"></use>
      </svg>
    </button>
  </div>
  <div class="header-menu is-hidden" data-menu>
    <div class="container-mob-header">
        <button type="button" class="header-mob-close" data-menu-close>
          <svg width="14" height="14">
            <use href="#"></use>
          </svg>
        </button>
    </div>
  </div>
</header>
