<header class="page-header" id="main-header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo"
        ><svg class="logo-header" width="24" height="24">
          <use href="/src/images/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="logo-name-header" width="77" height="14">
          <use href="/src/images/sprite.svg#icon-name-logo"></use>
        </svg>
      </a>
      <div class="site-nav-header">
        <button class="header-item">
          <a href="./index.html" class="header-nav-link">HOME</a>
        </button>
        <button class="header-item">
          <a href="./shopping.html" class="header-nav-link"
            >SHOPPING LIST
            <svg class="logo-head-icon" width="20" height="20">
              <use
                href="/src/images/sprite.svg#icon-cart"
              ></use></svg
            ><span class="header-book-count"></span
          ></a>
        </button>
      </div>
      <script>
        const homeButton = document.querySelector('.header-item:nth-child(1)');
        const shoppingButton = document.querySelector('.header-item:nth-child(2)');
        
        if (window.location.href.includes('shopping.html')) {
          homeButton.classList.remove('link-current');
          shoppingButton.classList.add('link-current');
        } else {
          shoppingButton.classList.remove('link-current');
          homeButton.classList.add('link-current');
        }
      </script>
    </nav>
    <div class="header-cont-pre">
      <div class="header-team-user">
        <input class="switch" type="checkbox" id="js-switch-theme" />
        <label class="switch-label" for="js-switch-theme">Toggle</label>
        <button class="header-user" data-modal-open-desk type="button">
          <p class="header-user-link" href=""
            ><svg class="icon-user-header" width="24" height="24">
              <use href="/src/images/sprite.svg#icon-user"></use></svg
            >Sign up<svg class="arrow-down-header" width="23" height="26">
              <use href="/src/images/sprite.svg#icon-arrow-down"></use>
            </svg>
          </p>
        </button>
      </div>
    </div>
    <button
      type="button"
      class="header-burger header-open-modal"
      data-menu-open
    >
      <svg width="28" height="28" class="icon-burger-menu">
        <use href="/src/images/sprite.svg#icon-burger-menu"></use>
      </svg>
      <svg class="head-icon-close is-hidden" width="28" height="28">
        <use href="/src/images/sprite.svg#icon-modal-close-btn-black"></use>
      </svg>
    </button>
  </div>
  <!-- <div class="header-menu is-hidden" data-menu>
    <div class="container-mob-header">
      <button type="button" class="header-mob-close" data-menu-close>
        <svg width="14" height="14" class="head-icon-close">
          <use href="/src/images/sprite.svg#icon-modal-close-btn-white"></use>
        </svg>
      </button>
    </div>
  </div> -->
</header>
