<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo"
        ><svg class="logo-header" width="24" height="24">
          <use href="/src/images/sprite.svg#icon-logo"></use>
        </svg>
        <svg class="logo-name-header" width="77" height="14">
          <use href="/src/images/sprite.svg#icon-name-logo"></use>
        </svg>
        <!-- <span class="span-header">Bookshelf</span> -->
      </a>
      <div class="site-nav-header">
        <button class="header-item link-current">
          <a href="./index.html" class="header-nav-link">HOME</a>
        </button>
        <button class="header-item">
          <a href="#" class="header-to-link"
            >SHOPPING LIST<svg class="logo-head-icon" width="20" height="20">
              <use
                href="/src/images/sprite.svg#icon-modal-lock-black"
              ></use></svg
          ></a>
        </button>
      </div>
    </nav>
    <div class="header-cont-pre">
      <div class="header-team-user">
        <input class="switch" type="checkbox" id="js-switch-theme" />
        <label class="switch-label" for="js-switch-theme">Toggle</label>
        <button class="header-user">
          <a class="header-user-link" href=""
            ><svg class="icon-user-header" width="24" height="24">
              <use href="/src/images/sprite.svg#icon-user"></use></svg
            >Stephen<svg class="arrow-down-header" width="23" height="26">
              <use href="/src/images/sprite.svg#icon-arrow-down"></use>
            </svg>
          </a>
        </button>
      </div>
    </div>
    <button
      type="button"
      class="header-burger header-open-modal"
      data-menu-open
    >
      <svg width="28" height="28" class="icon-burger-menu">
        <use href="/src/images/sprite.svg#icon-burger-menu"></use>
      </svg>
      <svg
        class="back-to-shoping-list-btn-icon is-hidden"
        width="28"
        height="28"
      >
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
  <div class="header-menu is-hidden" data-menu>
    <div class="container-mob-header">
      <button type="button" class="header-mob-close" data-menu-close>
        <svg width="14" height="14">
          <use href="/src/images/sprite.svg#icon-modal-close-btn-black"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
