<div class="register-form-container">

<form class="just-form">

<div class="modal-form-field">
    <div class="modal-form-input-wrap">
        <label>
            <input type="text"
             name="user-name" 
             placeholder="Name" 
             class="modal-buy-now-input"
                pattern="[a-zA-Zа-яА-ЯіІїЇ]+" 
                minlength="2" required />
        </label>
        <label>
            <input type="text"
             name="user-name" 
             placeholder="Surname"
              class="modal-buy-now-input"
                pattern="[a-zA-Zа-яА-ЯіІїЇ]+" 
                minlength="2" required />
        </label>
        <label>
            <input type="text" 
            name="user-name" 
            placeholder="PASSWORD" 
            class="modal-buy-now-input" 
            pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
                minlength="2" required />
        </label>
    </div>
</div>
</form>
</div>
