<div class="modal-book-container">
   <div class="backdrop is-hidden" data-modal>
      <!-- <div id="modal-book-js" class="modal-book-selection">
         <div class="modal-book-content">
            <span class="close" data-modal-close>&times;</span>
            <div class="modal-book-content-wrap">
               <img class="modal-book-book-cover" scr="" alt="" width="335" height="762">
               <div class="modal-book-content-text-wrap">
                  <div class="modal-book-text-wrap">
                     <div class="modal-book-title-wrap">
                        <h3 class="modal-book-title">HELLO BEAUTIFUL</h3>
                        <p class="modal-book-book-author">Ann Napolitano</p>
                     </div>
                     <p class="modal-book-descreption">In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
                        past
                        resurfaces as he gets to the know the family of his college sweetheart.</p>
                  </div>
                  <ul class="modal-book-marketplaces">
                     <li>
                        <link rel="stylesheet" href="#" class="modale-book-trading-platform">
                     </li>
                     <li>
                        <link rel="stylesheet" href="#" class="modale-book-tradinf-platform">
                     </li>
                     <li>
                        <link rel="stylesheet" href="#" class="modale-book-tradinf-platform">
                     </li>
                  </ul>
               </div>
            </div>
            <button class="modal-book-shopping-list-btn">Add to shopping list</button>
            <p class='modal-book-shopping-list-btn-shopping-list-message'>Сongratulations! You have added the book to the
               shopping list. To delete, press the button “Remove from the shopping
               list”.</p>
         </div>
      </div> -->
   </div>


   
</div>
<h1>Книги</h1>
<div class="book-list">
   <div class="book">
      <img src="#" alt="Обложка книги">
      <h3>Название книги 1</h3>
      <p>Автор книги 1</p>
      <button class="book-details" data-modal-open>Детали</button>
   </div>

</div>




