<div class="js-box-menu box-menu">
  <div class="container">
    <div class="box-menu-btn-sign-up">
      <button type="button" class="btn-sign-up">
        Sign up
        <svg class="icon-arrow-narrow-right" width="20" height="20">
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="box-menu-user">
      <!-- <div class="box-user-img">
        <img
          src="./images/user.png"
          width="37"
          height="37"
          class="user-img"
          alt="user"
        />
      </div>
      <h2 class="user-name">Stephen</h2> -->

      <ul class="mobile-menu-list">
        <li>
          <a class="back-to-home-link" href="./index.html">Home</a>
        </li>
        <li>
          <a class="back-to-shopping-list-link" href="./shopping.html"
            >Shopping list
            <svg class="back-to-shoping-list-btn-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button type="button" class="btn-log-out visually-hidden">
        Log out
        <svg class="icon-arrow-narrow-right" width="20" height="20">
          <use href="./images/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
