<section class="shopping-list">
<h1 class="shopping-list-header">Shopping <span class="shopping-list-second-header">List</span></h1>
<ul class="shopping-list-books"></ul>
<div id="pagination" class="tui-pagination"></div>
<div class="shopping-list_no_books visually-hidden">
<p class="shopping-list_no_books-text">This page is empty, add some books and<br> proceed to order.</p>
<img src="./images/Colorful-books-mob@1x.png" srcset="./images/Colorful-books-mob@2x.png" alt="No books" class="shopping-list_no_books-img">
</div>
</section>