<section class="position_support">
  <div class="section_support">
    <h2 class="header_support">Support Ukraine
    <a href="#"><svg  width="20"height="32">
      <use href="./images/sprite.svg#icon-ukraine-emblem"></use>
  </svg></a></h2>
  <div class="slider">
    
    <div class="slider_line">
       <ol class="ol_support">


    </ol>
</div>
<a class="scroll-up visually-hidden"><svg class="scroll_svg" width="32"height="32">
  <use href="./images/sprite.svg#icon-scroll-btn-up1"></use>
</svg></a> 
        <a class="scroll"><svg class="scroll_svg" width="32"height="32">
          <use href="./images/sprite.svg#icon-scroll-btn-down1"></use>
      </svg></a> 
</div>
</div>
</section>

