/* ===================MOBILE */
.category-books-wrapper {
  margin: 0 auto;
  padding-block: 40px 80px;
  padding-inline: 20px;
  width: 375px;
  display: flex;
  flex-direction: column;
}






/* // Tablet ======================================= */
@media screen and (min-width: 768px) {
    .category-books-wrapper {
    width: 768px;
    margin: 0 auto;
    padding-block: 100px;
    padding-inline: 32px;
    display: flex;
    flex-direction: column;
    }
}


/* ========================computer */
@media screen and (min-width: 1440px) {
    .category-books-wrapper {
    width: 996px;
    margin: 0 auto;
    padding-block: 72px 40px;
    padding-inline: 0;
  }
} 
