
.container-categories {
width: 335px;
height: 228px;
padding-top: 40px;
overflow: scroll;
}

.link-categories {
text-decoration: none;
color: var(--categories-font-color);
font-size: 16px;
line-height: 18px;
}

.link-categories:hover,
.link-categories:focus,
.active-category {
    color: var(--font-color-selected);
    font-weight: 700;
    text-transform: uppercase;
}

.link-categories:hover.reduce-font-size,
.link-categories:focus.reduce-font-size,
.active-category.reduce-font-size {
    font-size: 14px;
}

.list-categories {
display: flex;
gap: 24px;
flex-direction: column;
justify-content: flex-start;
text-align: left;
padding-left: 0;
}

@media (min-width: 768px) {
:root {
--container-width: 768px;
}

.container-categories {
width: 337px;
height: 472px;
}

.list-categories {
gap: 32px;
}

.link-categories {
font-size: 18px;
line-height: 24px;
}

.link-categories:hover.reduce-font-size,
.link-categories:focus.reduce-font-size,
.active-category.reduce-font-size {
font-size: 15px;
}
}

@media (min-width: 1440px) {
:root {
--container-width: 1440px;
}

.container-categories {
width: 356px;
height: 472px;
}

.link-categories:hover.reduce-font-size,
.link-categories:focus.reduce-font-size,
.active-category.reduce-font-size {
font-size: 16px;
}

}