.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background-color);
  border-radius: 0 0 8px 8px;
  border-color: var(--header-border-color);
  border: 1.5px solid;
  min-width: 320px;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  display: inline-flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 22px;
  margin-bottom: 22px;
}
/* .span-header {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.02;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
} */
.logo-name-header {
  fill: var(--header-border-color);
  padding-left: 8px;
}

/* !=============================== */
.switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: var(--theme-switcher-bg);
  display: block;
  border-radius: 100px;
  position: relative;
}

.switch-label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: rgb(255, 255, 255);
  border-radius: 90px;
  transition: 0.3s;
}

/* .switch:checked + .switch-label {
    background: var(--font-color-selected);
  } */

.switch:checked + .switch-label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.switch-label:active:after {
  width: 26px;
}

@media (max-width: 767px) {
  .header-burger {
    position: sticky;
    width: 28px;
    height: 28px;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    stroke: currentColor;
    fill: currentColor;
    background-color: transparent;
    margin-left: 14px;
  }
  
  .icon-burger-menu {
    stroke: var(--header-border-color);
    fill: var(--header-border-color);
  }
  .header-open-modal.is-active .head-icon-close {
    fill: var(--header-border-color);
  }

  .head-icon-close {
    width: 28px;
    height: 28px;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    background-color: transparent;
    stroke: var(--header-border-color);
    fill: var(--header-border-color);
  }
  .header-user,
  .site-nav-header {
    display: none;
  }

  .switch-label {
    margin-right: 8px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .header-nav {
    justify-content: space-between;
  }

  .header-logo {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .site-nav-header {
    display: flex;
    margin-left: 40px;
  }

  .site-nav-header .header-item + .header-item {
    margin-left: 16px;
  }

  .header-item {
    background-color: var(--header-background-color);
    border-color: transparent;
    border-radius: 36px;
  }
  .header-item:hover,
  .header-item:focus,
  .header-item:active {
    background: #eac645;
  }

  .header-nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18 / 14);
    display: flex;
    align-items: center;
    letter-spacing: -0.56px;
    color: var(--font-color-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: uppercase;
    padding: 8px 16px;
  }

  .header-to-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);
    display: flex;
    align-items: center;
    letter-spacing: -0.56px;
    color: var(--font-color-dark);
    text-transform: uppercase;
    padding: 7px 16px;
  }

  .logo-head-icon {
    stroke: var(--header-border-color);
    fill: var(--support-ukraine-font-color);
    padding-left: 4px;
  }
  .logo-head-icon:hover,
  .logo-head-icon:focus,
  .logo-head-icon:active {
    fill: #eac645;
  }
  .link-current {
    background-color: #eac645;
  }

  .header-team-user {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header-user {
    background-color: var(--blue-color);
    background-color: #4f2ee8;
    border-color: transparent;
    border-radius: 36px;
    margin-left: 24px;
  }

  .header-user-link {
    color: var(--white-color);
    color: var(--support-ukraine-font-color);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .icon-user-header {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--support-ukraine-font-color);
    padding: 9px 9px;
    margin-right: 9px;
    margin-left: 12px;
  }

  .arrow-down-header {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    fill: var(--header-background-color);
    background-color: #4f2ee8;
    fill: var(--support-ukraine-font-color);
    width: 23px;
    height: 26px;
    flex-shrink: 0;
    margin-left: 4px;
    margin-right: 9px;
  }

  .header-menu {
    display: none;
  }
  .header-burger {
    display: none;
    /* filter: var(--amazon-dark-color); */
  }
  .header-mob-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .site-nav-header {
    margin-left: 76px;
  }

  .site-nav-header .header-item + .header-item {
    margin-left: 24px;
  }
}
