:root {
    --color: #4F2EE8;
    --duration: 1s;
    --width: 10px;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
}

div {
    position: absolute;
    width: 3vw;
    min-width: 30px;
    height: 3vw;
    min-height: 30px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    box-shadow: inset 0px 0px 0px var(--width) rgba(var(--color), 0.3);

    animation: load-rotate calc(var(--duration) * 4) infinite;

    @keyframes load-rotate {
        24.9% {
            transform: translateY(-50%) translateX(-50%) rotate(0deg);
        }

        25% {
            transform: translateY(-50%) translateX(-50%) rotate(90deg);
        }

        49.9% {
            transform: translateY(-50%) translateX(-50%) rotate(90deg);
        }

        50% {
            transform: translateY(-50%) translateX(-50%) rotate(180deg);
        }

        74.999% {
            transform: translateY(-50%) translateX(-50%) rotate(180deg);
        }

        75% {
            transform: translateY(-50%) translateX(-50%) rotate(270deg);
        }

        100% {
            transform: translateY(-50%) translateX(-50%) rotate(270deg);
        }
    }
}

span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before,
    &:after {
        content: '';
        position: absolute;
        background: var(--color);
    }

    &:before {
        transform: scaleX(0);
    }

    &:after {
        transform: scaleY(0);
    }
}

.one {
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: var(--width);
        animation: one var(--duration) forwards infinite;

        @keyframes one {
            0% {
                transform: scaleX(0);
                transform-origin: left;
            }

            12.5% {
                transform: scaleX(1);
            }

            37.5% {
                transform-origin: left;
            }

            50% {
                transform: scaleX(1);
                transform-origin: right;
            }

            62.5% {
                transform: scaleX(0);
            }

            100% {
                transform-origin: right;
            }
        }
    }

    &:after {
        top: 0;
        right: 0;
        height: 100%;
        width: var(--width);
        animation: two var(--duration) forwards infinite;