
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 300ms linear, visibility 300ms linear;
    
}

.backdropcolor {
    background: var(--font-color-selected);
    overflow: hidden;
}

.modal {
    position: absolute;
    padding: 40px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 18px;
    background: var(--background-color);
    transition: transform 400ms linear;
    overflow: hidden;
}

.modal-close {
    position: absolute;
    border: 0;
    background: transparent;
    cursor: pointer;
    left: 89%;
    top: 3%;
    stroke: #111;
    fill: #111;
    color: #111;
}

.modal-close-icon {
    width: 20px;
    height: 20px;
}

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}  

 .is-hidden {
    opacity: 0; 
    visibility: hidden;
    pointer-events: none; 
    overflow: hidden;
}  

.just-form {
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-box-form {
    background-color: var(--background-color);
    color: var(--font-color-dark);
    font-family: 'DM Sans', sans-serif;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 40px;
    border: 2px solid var(--font-color-dark);
    transition: border-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
}

.first-box {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-box-icon {
    position: absolute;
    bottom: 35%;
    left: 20%;
    transform: translate(190px, 0%);
    width: 18px;
    height: 18px;
    fill: var(--background-color);
    stroke: var(--font-color-dark);
}

.second-box-icon {
    position: absolute;
    bottom: 35%;
    left: 20%;
    transform: translate(190px, 0%);
    width: 18px;
    height: 18px;
    fill: var(--background-color);
    stroke: var(--font-color-dark);
}

::placeholder {
    color: var(--font-color-dark);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1
}

.btn-form {
    min-width: 169px;
    min-height: 56px;
    padding: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    color: var(--logo-text-color);
    font-size: 16px;
    /* font-family: 'DM Sans' sans-serif; */
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    background: var(--font-color-dark);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color var(--transition-cubic-bezier);
}

.register {
    display: flex;
    justify-content: center;
}

.btn-reg {
    border: 0;
    background: transparent;
}

.href-reg {
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 14px;
    color: var(--categories-font-color);
}

.href-reg:is(:hover, :focus) {
    text-decoration: underline;
    color: var(--font-color-selected);
}


@media screen and (min-width:768px) {
    .modal {
        padding: 80px 40px 40px;
        border: 2px solid var(--font-color-dark);
    }

    .modal-close {
        left: 90%;
        top: 5%;
    }

    .modal-close-icon {
        width: 28px;
        height: 28px;
    }

    .just-form {
        width: 500px;

    }

    .first-box {
        gap: 28px;
    }

    .first-box-form{
            font-size: 18px;
    }

    .btn-form {
        margin-top: 16px;
        margin-bottom: 20px;
        line-height: 24px;
        font-size: 18px;
    }

    .first-box-icon {
        left: 50%;
        top: 28%;
        width: 28px;
        height: 28px;
    }

    .second-box-icon {
        left: 50%;
        top: 28%;
        width: 28px;
        height: 28px;
    }

    .href-reg{
font-size: 18px;
    }
}