@media (max-width: 767px) {
  .box-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .box-menu {
    display: none;
  }
}

.box-menu {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 375px;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 10;
  background: url('../images/Group-of-books@1x.png'),
    radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}

.box-menu.show {
  opacity: 1;
  pointer-events: all;
}


.box-menu .box-menu-user {
  height: calc(100% - 84px);
}

.box-menu.show {
  opacity: 1;
  pointer-events: all;
}


.no-scroll {
  overflow: hidden;
}

.page-header {
  position: relative;
  z-index: 100;
}

.box-menu-user.is-hidden,
.is-hidden {
  display: none;
}

.box-menu-user {
  margin-top: 84px;
  position: relative;
}

.box-menu-btn-sign-up {
  margin-top: 104px;
}

.box-menu-user {
  display: flex;
}

.user-name {
  margin-left: 9px;
  font-family: DM Sans, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.back-to-home-link {
  color: #111;
  font-size: 14px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  border-radius: 36px;
  background: #eac645;
  padding: 8px 16px;
  margin-bottom: 17px;
  display: inline-block;
}

.back-to-shopping-list-link {
  color: #fff;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
}

.back-to-shoping-list-btn-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 4px;
}

.btn-log-out {
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
  padding: 15px 24px 15px 24px;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
}

.mobile-menu-list {
  position: absolute;
  top: 183px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-arrow-narrow-right {
  margin-left: 4px;
}

.btn-sign-up {
  padding: 14px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  color: #fff;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  display: flex;
  align-items: center;
}

.btn-sign-up .icon-arrow-narrow-right {
  margin-left: 90px;
}
