/* Reset styles */
* {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   color: currentColor;
   text-decoration: none;
}

button {
   font-family: inherit;
   cursor: pointer;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}


input,
textarea {
   outline: none;
}

iframe {
   border: none;
}
   

/*-backdrop-*/
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}


/*--modal-*/


.close {
   width: 24px;
   height: 24px;
   position: absolute;
   right: 12px;
   top: 12px;
   color: #111111;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
}
.modal-book-selection{
   position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;

   
   /* display: none; */
   /* position: fixed;
   z-index: 9999;
   top: 0;
   left: 0; */
   width: 100%;
   height: 100%;
   /* overflow: auto; */
   display: flex;
   /* width: 335px;    */
   padding: 40px 24px;
   flex-direction: column;
   align-items: center;
   border-radius: 18px;
   border: 2px solid #111;
   background: #FFF;     
}

   @media screen and (min-width: 768px) {
      .modal-book-selection {
         width: 579px;
         display: inline-flex;
         padding: 40px;        
         align-items: flex-start;
         gap: 10px;

      }
   }

   
.modal-book-content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;   
   gap: 40px;  
}

   @media screen and (min-width: 768px) {
      .modal-book-content {   
         align-items: flex-start;         
      }
   }

      
.modal-book-content-wrap{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 14px;
}

  @media screen and (min-width: 768px) {
     .modal-book-content-wrap {         
         flex-direction: row;         
         gap: 24px;
   }
  }



.modal-book-book-cover{
   width: 287px;
   height: 408px;
   border-radius: 8px;
         
}
  @media screen and (min-width: 768px) {
     .modal-book-book-cover {
      width: 192px;
      height: 281px;
     }
  }
.modal-book-content-text-wrap{
   display: flex;
   flex-direction: column;
   gap: 14px;
}
  @media screen and (min-width: 768px) {
     .modal-book-content-text-wrap {
      gap: 20px;
     }}


.modal-book-text-wrap{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 18px;
}
  @media screen and (min-width: 768px) {
     .modal-book-text-wrap {    
      gap: 20px;
     }
  }

.modal-book-title-wrap{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 4px;
}
  @media screen and (min-width: 768px) {
     .modal-book-title-wrap {   
      gap: 8px;
   }
  }

.modal-book-title{
   color: #111;
   font-size: 16px;
   font-family: DM Sans;
   font-style: normal;
   font-weight: 700;
   line-height: 18px;
   letter-spacing: -0.64px;
}
  @media screen and (min-width: 768px) {
     .modal-book-title {     
      font-size: 24px;  
      line-height: 28px;
      letter-spacing: -0.96px;
     }
  }


.modal-book-author{
   color: #B4AFAF;
   font-size: 12px;  
   font-family: DM Sans;
   font-style: italic;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: -0.48px;
}

  @media screen and (min-width: 768px) {
     .modal-book-book-author {    
      line-height: 18px;
      letter-spacing: -0.56px;
     }
  }

.modal-book-descreption{
   display: flex;
   width: 287px;
   height: 70px;
   flex-direction: column;
   
   font-size: 14px;
   font-family: DM Sans;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: -0.56px;
}
  @media screen and (min-width: 768px) {
     .modal-book-descreption {      
      width: 279px;
      height: 70px;   
      color: #111;     
     }
  }



.modal-book-marketplaces{
   display: flex;
   align-items: center;
   gap: 20px;
   width: 287px;
   height: 36px;;
   flex-wrap: wrap;
   background-color: #4F2EE8;
}
  @media screen and (min-width: 768px) {
     .modal-book-marketplaces {
      gap: 20px;
     }
  }



.modale-book-trading-platform{
  
      
}

.modal-book-shopping-list-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 14px 28px; 
   border-radius: 40px;
   border: 2px solid #4F2EE8;
   background-color: transparent;
   color: #111;
   font-size: 14px;
   font-family: DM Sans;
   font-style: normal;
   font-weight: 700;
   line-height: 18px;
   letter-spacing: -0.14px;
   text-transform: uppercase;
}
  @media screen and (min-width: 768px) {
     .modal-book-shopping-list-btn {
      width: 499px; 
      line-height: 24px;
      letter-spacing: -0.18px;
     }
  }


.modal-book-shopping-list-btn-shopping-list-message{
   text-align: center;
   width: 242px;
   color: rgba(17, 17, 17, 0.50);
   
   font-size: 10px;
   font-family: DM Sans;
   font-style: normal;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: -0.4px;

}
  @media screen and (min-width: 768px) {
     .modal-book-shopping-list-btn-shopping-list-message {
      width: 324px;
      display: flex;    
      height: 64px;
      flex-direction: column;
      flex-shrink: 0;
     
      align-self: center;
      
      font-size: 12px;
      line-height: 14px;
      letter-spacing: -0.48px;
     }
  }





   

  
   