@import './header';
@import './categories';
@import './support-ukraine';
@import './all-books';
@import './books-by-category';
@import './shopping-list.css';
@import './modal-authorization.css';
@import './modal-mobile-menu.css';
@import './modal-book-selection.css';
@import './buttons-temporary.css';
@import './loader.css';
@import './color_thema.css';

* {
  box-sizing: border-box;
}

:root {
  --container-width: 100%;
  --background-color: #f6f6f6;
  --header-background-color: #ffffff;
  --font-color-dark: #111111;
  --font-color-selected: #4f2ee8;
  --author-category-booklist-font-color: #b4afaf;
  --support-ukraine-font-color: #ffffff;
  --categories-font-color: rgba(17, 17, 17, 0.6);
  --header-border-color: #111111;
  --shopping-list-book-card-border-color: rgba(79, 46, 232, 0.4);
  --categories-scroll-color: #e0e0e0;
  --support-ukraine-modal-menu-background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
}

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  width: var(--container-width);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 375px) {
  :root {
    --container-width: 375px;
  }

  @media (min-width: 768px) {
    :root {
      --container-width: 768px;
    }
    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}

@media (min-width: 1440px) {
  :root {
    --container-width: 1440px;
  }
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
