.section_support {
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  max-width: 335px;
  height: 490px;
  border-radius: 16px;
  position: relative;
}

.slider_line {
  width: 300px;
  height: 292px;
  /* position: relative; */
  transition: all ease 1s;
}
.slider {
  overflow: hidden;
}
.ol_support {
  list-style-type: none;
  counter-reset: item;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-items: center;
}

.list::before {
  content: '0' counter(item);
  counter-increment: item;
  margin-right: 16px;
}

.header_support {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -4%;
  padding-left: 40px;
  padding-top: 24px;
  color: rgba(255, 255, 255, 1);
}

.down-scroll {
  width: 38px;
  height: 38px;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 19px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.padding {
  padding-top: 40px;
}
