.section_support{
    background:radial-gradient(
        189.32% 190.93% at 59.76% -23.42%,
        #4f2ee8 18.03%,
        #fff 100%);
    width: 335px;
    height:352px;
    border-radius: 16px;
    margin: 0 auto;
}

.slider_line{
    top: 0;
    height:178px;
    position:relative;
    margin: auto 0;
    transition: all ease 1s;
    
}
.slider{  
overflow: hidden;
}
.ol_support{
    list-style-type: none;
    counter-reset: item;
    color:rgba(255, 255, 255, 1);
    font-weight:400;
    font-size:14px;
    line-height:1.28;
    letter-spacing:-4%;
    margin-top:40px
}
.list::before {
    content: '0'counter(item);
    counter-increment: item;

   }
.list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 159px;
    height: 32px;
  
}
.support_link{
    margin-left: 16px;}
.header_support{
font-weight:700;
font-size:28px;
line-height:1.14;
letter-spacing:-4%;
padding-left: 40px;
padding-top: 24px;
color:rgba(255, 255, 255, 1);

}

.down-scroll{
position: absolute;
padding-left: 152px;
padding-bottom: 20px;
margin-top: 16px;
}






