.container_support{
    width: 335px;
    height:352px;
    border-radius: 16px;
    background:radial-gradient(
        189.32% 190.93% at 59.76% -23.42%,
        #4f2ee8 18.03%,
        #fff 100%);
}
.ul_support{
    list-style-type:decimal-leading-zero;
  
    
}